global:
  user: "tidb"
  ssh_port: 22
  deploy_dir: "/tidb-deploy"

server_configs:
  tidb: {}
  tikv:
    cdc.min-ts-interval: 1s
    storage.block-cache.capacity: "16GB"
    rocksdb.titan.enabled: false
    rocksdb.defaultcf.titan.min-blob-size: "1KB"
    raftstore.snap-generator-pool-size: 4
    server.snap-io-max-bytes-per-sec: 400MiB
    coprocessor.region-split-size: 96MiB
    coprocessor.region-max-size: 144MiB
    coprocessor.region-split-keys: 960000
    coprocessor.region-max-keys: 1440000
  pd:
    schedule.enable-cross-table-merge: false
  tiflash: {}
  cdc:
    newarch: true

tidb_servers:
  %{~ for host in tidb_hosts ~}
  - host: ${host}
  %{~ endfor ~}

tikv_servers:
  %{~ for host in tikv_hosts ~}
  - host: ${host}
  %{~ endfor ~}

tiflash_servers:
  %{~ for host in tiflash_hosts ~}
  - host: ${host}
  %{~ endfor ~}

cdc_servers:
  %{~ for host in ticdc_hosts ~}
  - host: ${host}
  %{~ endfor ~}

pd_servers:
  - host: 172.31.8.1

monitoring_servers:
  - host: 172.31.8.1

grafana_servers:
  - host: 172.31.8.1
